.container {
  height: 100vh;
  width: 100vw;
  background-color: #cf0022;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}
.logoContainer {
  margin-top: bottom;
  width: 45%;
  max-width: 30em;
  margin-bottom: 5%;
}
.logoContainer > img {
  width: 100%;
}
.formContainer {
  background-color: white;
  border-radius: 15px;
  padding: 2em;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fields {
  display: flex;
  flex-direction: column;
}
.fields > div {
  margin-bottom: 1em;
  width: 18em;
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
  font-weight: bold;
  font-size: 0.8em;
}
.fields > div > input {
  width: 100%;
}
.pswField {
  border-radius: 10px !important;
  border: 1px solid gray !important;
  outline: none;
  display: flex;
  align-items: center;
}
.pswField > input {
  border: none !important;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pswField > button {
  background: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  border: none;
  cursor: pointer;
}
.pswReset {
  text-decoration: underline;
}
.divider {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}
.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  font-size: 0.9em;
}
.captionContainer {
  margin-top: 1em;
}
.captionContainer > span {
  color: white;
  font-weight: normal;
  font-size: 0.9em;
}

/* buttons */
.formContainer > a {
  color: blue;
  text-decoration: underline;
  color: #1795ff;
  margin-bottom: 0.5em;
}
.blackButton {
  background-color: #01051d;
  color: white;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 8px !important;
  margin-bottom: 1.5em;
  border: none;
  cursor: pointer;
}
.links {
  display: flex;
}
.links > a {
  background-color: #f2ab0a;
  font-weight: bolder;
  padding: 0.5em 0em;
  border-radius: 8px;
  color: black;
  width: 9em !important;
  display: block;
  text-align: center;
}
.links > a:first-child {
  margin-right: 1em;
}
@media screen and (max-width: 568px) {
  .container {
    padding-top: 1em;
  }
  .logoContainer {
    width: 90%;
  }
  .formContainer {
    padding: 0.5em;
    padding-top: 1em;
  }
  .links > a:first-child {
    margin-right: 0.5em;
  }
  .links > a {
    font-size: 0.8em;
  }
  .captionContainer {
    font-size: 0.7em;
    margin-top: auto;
    margin-bottom: 0.5em;
  }
}
