.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  height: 100vh;
}
.decorator {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c40033;
  border-radius: 20%/50%;
  transform: translateX(-25%);
  z-index: 0;
}
.brand {
  position: absolute;
  height: 100vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0;
  align-items: center;
}
.brand > img {
  width: 35em;
}
.brand > span {
  color: white;
  font-size: 1.2em;
}
/* form */
.formContainerOutter {
  height: 100vh;
  position: absolute;
  right: 0;
  width: 45vw;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding-right: 5%;
}
.row1,
.row2,
.row3 {
  margin-bottom: 1em;
}
.row1 > input,
.row2 > input {
  width: 100%;
}
.row1 > input {
  margin-right: 1em;
}
.row1 > input:last-child {
  margin-right: 0;
}
.passwordContainer {
  border-radius: 10px !important;
  border: 1px solid gray !important;
  /* max-width: 100% !important; */
  margin-right: 1em;
  display: flex;
  align-items: center;
  width: 50%;
}
.passwordContainer > button {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.row3 > div > input {
  border: none !important;
  flex-grow: 1;
  width: 0;
}
.row3 > div:last-child {
  margin-right: 0;
}
.disclaimer {
  font-size: 0.9em;
  text-align: center;
}
.discLink {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(0, 140, 255);
}
.registerButton {
  background: none;
  border: none;
  padding: 0.5em 1.5em;
  background-color: #01051d;
  color: white;
  font-weight: bold;
}
.fieldError {
  border: 2px solid red !important;
}
@media screen and (max-width: 568px) {
  .decorator {
    border-radius: 0;
    width: 100%;
    right: 0;
    transform: translateX(0);
  }
  .brand {
    width: 100%;
    padding: 0.5em;
  }
  .brand > img {
    width: 85%;
  }
  .brand > span {
    font-size: 0.7em;
    margin-bottom: 0.5em;
  }
  .formContainerOutter {
    width: 100%;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .formContainer {
    padding: 0.5em !important;
  }
  .disclaimer {
    font-size: 0.7em;
  }
  .row1 {
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  .row1 > input {
    padding: 0.3em !important;
    margin-bottom: 0.5em;
  }
  .row1 > input:last-child {
    margin-bottom: 0;
  }
  .row2 {
    margin-bottom: 0.5em;
  }
  .row2 > input {
    padding: 0.3em !important;
  }
  .row3 > input {
    padding: 0.3em !important;
  }
  .suggestion {
    font-size: 0.8em;
  }
}
