.container {
  display: flex;
  width: 100%;
}
.left {
  width: 25%;
  min-width: 20em;
  padding-left: 1em;
  padding-top: 1em;
}
/* personal */
.userImageErrorIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.personalLabel {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
  white-space: nowrap;
}
.userTitle {
  text-transform: capitalize;
}
.userImage {
  width: 9em;
  height: 9em;
  display: flex;
  justify-content: center;
}
.userImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.CVButton {
  text-decoration: underline;
  font-weight: bold;
  color: #1795ff;
  margin-top: 1em;
}
.disponibleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disponibleContainer > span {
  color: gray;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 1em;
}
.habilitiesContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
}
.rigth {
  flex-grow: 1;
  padding: 1em;
}
.noData {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.noData > span:first-child {
  font-weight: bold;
  font-size: 0.9em;
}
.noData > span:last-child {
  font-size: 0.8em;
}
.personalTbody > tr > td:first-child {
  text-align: end;
}

/* secondary */
.dataCardHeader {
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.dataCardHeader > h1 {
  margin: 0 !important;
  font-size: 1.2em !important;
}
.enableEditButton {
  background: none;
  border: none;
  cursor: pointer;
}
