.container {
  background-color: #c40033;
  color: white;
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 0.5em;
}
.infoContainer {
  flex-grow: 1;
}
.iconsContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.h4 {
  font-weight: normal;
  font-size: 0.9em;
}
.h3 {
  margin-bottom: 1em;
}
.h3 > a {
  font-weight: normal;
  color: white;
  font-weight: bold;
  margin-right: 1em;
  margin-left: 1em;
}
.h3 > a:first-child {
  margin-left: 0;
}

.icon {
  margin-right: 1em !important;
}
