body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh !important;
  max-height: 100vh !important;
  position: relative;
}
@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url(/fonts/HelveticaNeue.ttf) format("truetype");
}
@font-face {
  font-family: "MyriadPro-Bold";
  src: local("MyriadPro-Bold"),
    url(/fonts/MyriadPro-Bold.otf) format("truetype");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"),
    url(/fonts/MyriadPro-Regular.otf) format("truetype");
}
input {
  border-radius: 50px !important;
  border: 1px solid black !important;
}
select {
  border-radius: 50px !important;
  border: 1px solid black !important;
}
button {
  border-radius: 12px !important;
}

h2,
h3,
h1,
h4 {
  font-family: MyriadPro-Bold !important;
  margin-bottom: auto !important;
}
.general {
  max-height: 102vh;
  font-family: MyriadPro-Regular;
}

.ant-collapse-arrow {
  left: 93% !important;
  font-size: 37px !important;
  top: -1.9995px !important;
  color: #c1c4cc !important;
}
.ant-collapse {
  background-color: white !important;
  margin-bottom: 16px !important;
  border-radius: 7px !important;
}

.ant-collapse-header {
  font-weight: bold;
  font-size: 22px;
}
input ~ label:after {
  background: #ecb83c !important;
}
button:focus {
  outline: 0px;
}

@media screen and (max-width: 600px) {
  .ant-collapse-arrow {
    left: 87% !important;
  }
  .ant-collapse-header {
    font-size: 19px;
  }
}
