.container {
  width: 100%;
  background-color: #c40033;
  color: white;
  padding: 10px;
}
.logo {
  width: 346px;
  margin-top: -100px;
  margin-bottom: -100px;
}
.icon {
  width: 46px;
}
.link {
  color: white;
  font-weight: bold;
  font-size: 22px;
}
.navContainer {
  align-items: center;
  display: flex;
  height: 71px;
  justify-content: space-around;
}
.controlsContainer {
}

.containericons {
  float: right;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
