.card {
  width: 100% !important;
}
.redtext {
  color: #c40033;
}
.container {
  width: 94%;
  padding: 2em;
  display: flex;
  min-height: calc(100vh - 4em);
}
.left {
  flex-grow: 1;
  margin-right: 1em;
}
.textrigth {
  text-align: right;
}
.image {
  width: 100px;
}
.profile {
  width: 219px;
  height: 219px;
  -moz-border-radius: 50px;
  border-radius: 108px;
  margin-top: 25px;
  margin-bottom: 23px;
}
.profilecontainer {
  text-align: center;
}
.h3 {
  margin-bottom: 10px !important;
}
.linkcv {
  color: #1098ff;
  text-decoration: underline;
  font-weight: bold;
}
.yellowtext {
  color: #ecb83c;
  margin-top: 24px;
}
@media screen and (max-width: 600px) {
  .container {
    height: 166vh;
  }
}
