.companystyle {
  text-align: center;
}
.background {
  position: absolute;
  width: 100%;
  background-color: #cf0022;
  border-top-right-radius: 270px;
  border-top-left-radius: 270px;
  z-index: -1;
  height: 102vh;
}
.form {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
}
.p {
  text-align: left;
}
.textleft {
  text-align: left;
  margin-bottom: 15px;
}
.textleft > a {
  color: rgb(51, 164, 230);
}
.textleft1 {
  text-align: left;
  margin-bottom: auto;
}
.process {
  color: red;
  text-align: left;
}
.photo {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bfc1c8;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formInput {
  outline: none;
  padding: 0.5em;
  height: auto;
  height: 3em;
  border-radius: 10px !important;
}
.input {
  display: none;
}
.img1 {
  width: 50px;
  height: 50px;
  margin-bottom: auto;
  margin-top: auto;
  cursor: pointer;
}

.textcenter {
  text-align: center;
  width: 72%;
  margin: 0 auto !important;
  margin-top: 11px !important;
  margin-bottom: 9px !important;
}

.img {
  /* margin-bottom: -130px;
  margin-top: -135px; */
  width: 25%;
}
.textwhite {
  color: white;
  margin-top: 21px;
  font-size: 15px;
  font-weight: normal;
}
.ul {
  text-align: left;
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .img {
    width: 274px !important;
    margin-bottom: -48px;
    margin-top: auto;
  }
  .form {
    padding: 7%;
  }
  .img {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: auto !important;
    margin-top: auto !important;
    cursor: pointer !important;
  }
}
