.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em !important;
  width: 100%;
  text-align: center;
}

.edit {
  align-self: flex-end;
}
.iconContainer {
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-bottom: 1em !important;
}
.profile {
  width: 10em !important;
  height: 10em !important;
  border-radius: 50% !important;
  margin-bottom: 1em !important;
  object-fit: cover;
}
.h3 {
  margin-bottom: 1em !important;
  text-transform: capitalize;
}
.linkcv {
  color: #1098ff;
  text-decoration: underline;
  font-weight: bold;
}
.yellowtext {
  color: #c1c4cc;
  margin-bottom: 1em !important;
}
.flextoggle {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* modal1 */
.modal1Upper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal1Lower > div {
  width: 50%;
}
.modal1Lower > div:first-child {
  margin-right: 2em;
}
.modal1Lower > div:first-child > p:first-child {
  font-weight: bold;
  align-self: flex-start;
  font-size: 1.2em;
}
.modal1Lower > div > p:last-child {
  font-size: 0.8em;
}
.modal1Upper > form > input {
  padding: 0.8em 1em;
  width: 100%;
  margin-bottom: 1em;
  outline: none;
}
.modal1Lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal1Lower > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal1Lower > div:last-child > a {
  color: #1098ff;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  align-self: flex-start;
}
.modal1Lower > div > p {
  font-size: 0.8em;
}
