.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em !important;
  width: 100%;
  text-align: center;
}
.edit {
  align-self: flex-end;
}
.iconContainer {
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-bottom: 1em !important;
}
.profile {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-bottom: 1em !important;
  object-fit: cover;
}
.h3 {
  margin-bottom: 1em !important;
}
.linkcv {
  color: #1098ff;
  text-decoration: underline;
  font-weight: bold;
}
.yellowtext {
  color: #c1c4cc;
  margin-bottom: 1em !important;
}
.flextoggle {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
